.header {
  border-bottom: 1px solid #ebf1f0;
}

.menu {
  padding: 24px 0;
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.menu__item {
  cursor: pointer;
  transition: color 0.2s linear;
}

.menu__item a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  cursor: inherit;
}

.menu__item:nth-child(1) {
  margin-right: 16px;
}

.menu__item:hover {
  color: #09bc8a;
}

.menu__item.active {
  cursor: default;
  font-weight: bold;
}

.menu__item.active:hover {
  color: inherit;
}
