.header {
  border-bottom: 1px solid #ebf1f0;
}

.header.dark {
  background: #0a1a28;
  color: #8a9eaf;
  border-bottom: 1px solid #132a3e;
}

.menu {
  padding: 24px 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: center;
}

.menu__item {
  cursor: pointer;
  transition: color 0.2s linear;
  margin-right: 16px;
}

.menu__item a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  cursor: inherit;
}

.menu__item:nth-child(3) {
  margin-right: 0;
}

.menu__item:hover {
  color: #09bc8a;
}

.menu__item.active {
  cursor: default;
  font-weight: bold;
  color: #294a66;
}

.menu__item.active.dark {
  color: #fff;
}

.menu__item-toggler {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ecf6fd;
  border-radius: 4px;
}

.menu__item-toggler.dark {
  background: #1e384f;
}

.menu__item-toggler.dark svg {
  stroke: #fff;
}

.menu__item-toggler svg {
  transition: stroke 0.15s linear;
}

.menu__item-toggler:hover svg {
  stroke: #09bc8a;
}
