.heading {
  text-align: center;
  font-family: "DM Mono";
  font-size: 28px;
  font-weight: 500;

  &_dark {
    color: #fff;
  }
}

@media screen and (max-width: 350px) {
  .heading {
    font-size: 20px;
  }
}
