.word {
  position: relative;
  min-width: inherit;
  padding: 13px 17px;
  border: 1px solid #e3ebf1;
}

.word__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-family: "DM Mono";
  font-weight: 500;
  font-size: 20px;
  line-height: 42px;
  transition: color 0.15s linear;
}

.word__icon {
  display: flex;
  margin-left: 16px;
  stroke: #294a66;
  transition: stroke 0.15s linear;
}

.word__link:hover {
  color: #09bc8a;
}

.word__delete-button {
  cursor: pointer;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  top: -13px;
  right: -13px;
  z-index: 5;
  background: #fff;
}

.word__delete-button svg {
  transition: stroke 0.15s linear;
}

.word__delete-button:hover svg {
  stroke: #09bc8a;
}

@media screen and (max-width: 955px) {
  .word {
    font-size: 16px;
    padding: 8px 17px;
  }
}

@media screen and (max-width: 525px) {
  .word {
    width: calc(100% - 32px);
    padding: 4px 17px;
  }
  .word__delete-button {
    top: 50%;
    right: -32px;
    transform: translateY(-50%);
  }
}
