.randomiser {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  margin-top: 32px;
}

.word__wrapper {
  min-width: 330px;
}

@media screen and (max-width: 350px) {
  .word__wrapper {
    min-width: 100%;
  }
  .buttons {
    margin-top: 24px;
    width: 100%;
    flex-direction: column;
    gap: 16px;
  }
}
