.subheading {
  margin: 24px auto;
  width: 279px;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

.highlight {
  color: #09bc8a;
}

@media screen and (max-width: 350px) {
  .subheading {
    margin: 16px auto 24px;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
  }
}
