@font-face {
  font-family: "DM Mono";
  src: local("DM Mono"), url(./fonts/DMMono/DMMono-Medium.woff) format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "DM Sans";
  src: local("DM Sans"), url(./fonts/DMSans/DMSans-Medium.woff) format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "DM Sans";
  src: local("DMSans"), url(./fonts/DMSans/DMSans-Regular.woff) format("woff");
  font-weight: 400;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Sans";
  font-weight: 400;
  color: #294a66;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

.content {
  min-height: calc(100vh - 149px);
  color: #294a66;

  &_dark {
    background: #0a1a28;
    color: #fff;
  }

  &__container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    min-height: inherit;
  }
}

@media screen and (max-width: 757px) {
  .content {
    min-height: calc(100vh - 131px);
  }
}
