.button {
  cursor: pointer;
  margin-right: 30px;
  padding: 15px 0;
  width: 149px;
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #09bc8a;
  background: #fff;
  border: 1px solid #09bc8a;
  border-radius: 1px;
  outline: none;
  transition: background 0.15s linear;

  &:hover {
    background: #e5f4f0;
  }

  &_dark {
    background: #fff0;
    &:hover {
      background: #143a30;
    }
  }

  &_isPrimary {
    background: #09bc8a;
    color: #fff;

    &:hover {
      background: #07ae7f;
    }
  }

  &:nth-last-of-type(1) {
    margin-right: 0;
  }
}

@media screen and (max-width: 350px) {
  .button {
    width: 100%;
  }
}
